*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home1{
    width: 100%;
    height: 100vh;      
    background-image: url("../img/fundo1.jpg");
    background-repeat: no-repeat;
    background-size: 100vmax;    
    padding:2% 2.5%;
            
}
.initial_header{
    display: flex;
}
.fundo_inicial{
    position: absolute;
    height: 100%;
    width: 100%;
}
.nome{
    font-family: 'Cinzel Decorative';
    font-size: 25px;
    font-weight: bold;
    position: relative;
    background-image: linear-gradient(to right, #CAAC7F 0%, #B67A4B 20%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
.consulta{    
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: Regular;
    background-image: linear-gradient(to right, #CAAC7F 0%, #B67A4B 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    width: 15%;
    border-radius: 5px;
    border: 1px solid #B67A4B;
    margin-left: auto;
    cursor: pointer;
}
.menu{
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
    color: #fafcfc;
    width: 8%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.title{
    font-family: 'Cinzel Decorative';
    font-size: 90px;
    color: #fafcfc;
    height: 55vh;
    width: 60vw;    
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
       
}
.chave{
    background-image: linear-gradient(to right, #CAAC7F 0%, #B67A4B 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.title2{
    font-weight: 400;
}    
.mid_home1{
    display: flex;
    justify-content: space-between;
}
.espiral_left{
    height: 40vh;
    margin-top: 8vh;
}
.espiral_right{
    height: 40vh;
    margin-top: 8vh;
}
.subtitle{
    margin-bottom: 1.5vh;
    font-family: 'Cinzel Decorative';
    font-size: 40px;
    color: #fafcfc;
    text-align: center;
}
.dimension{
    font-weight: bold;
}
.session_appoint{
    display: flex;
    justify-content: center;
}
.arrow{
    width: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.btn_appoint{
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    background-image: linear-gradient(70deg, #CAAC7F, #B67A4B);
    width: 15vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #323333;
    cursor: pointer;
}
.txt_menu{
    cursor: pointer;
}
.home2{
    padding:0 2.5%;
    background-color: #323333;
    height: 90vh;
    width: 100%;
}
.header_home2{
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    color: #fafcfc;
    font-size: 40px;
    text-align: center;
    padding-top: 15vh;
    margin-bottom: 5vh;
}
.img_middle2{
    border: 1px solid #979999;
    border-radius: 2px;
    width: 50%;
    margin-right: 3vw;
}
.middle2{
    display: flex;
    justify-content: space-between;
}
.text_middle2{    
    font-family: 'Manrope';
    font-size: 23px;
    font-weight: 400;
    color: #fafcfc;
    border-bottom: 1px solid #979999;
    padding-bottom: 2vh;
}
.section_middle2{
    width: 50%;
    border-left: 1px solid #979999;
    padding-left: 3vw;
}
.read_more{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 2vh;
    color: #fafcfc;
    font-family: 'Manrope';
    font-size: 16px;
}
.btn_arrow{
    width: 3vw;
    border: 1px solid #B67A4B;
    background-image: linear-gradient(70deg, #CAAC7F, #B67A4B);
    border-radius: 200%;
    margin-left: 1vw;
    cursor: pointer;
}
.home3{
    background-image: url(../img/fundo2.png);
    width: 100%;
    height: 87vw;
    padding:0 2.5%;
}
h3{
    font-family: 'Manrope';    
    color: #fafcfc;
    font-size: 28px;
    font-weight: 500;
}
.subtitle_home3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    padding: 1vh 0;
}
.cls_icon{
    width: 28px;
    cursor: pointer;
}
.text_middle3{
    font-family: 'Manrope';
    font-size: 23px;
    font-weight: 400;
    color: #fafcfc;
    margin-top: 25px;
    padding-bottom: 3vh;
    border-bottom: 1px solid #979999;
}
.imgs_middle3{
    display: flex;
    margin-top: 3vh;    
    justify-content: space-between;
    border-bottom: 1px solid #979999;
    padding: 1vh 0 3vh 0;
}
.img_middle3{
    width: 100%;    
}
.img_ctn1{
    padding-right: 20px;
    border-right: 1px solid #979999;
}
.img_ctn2{
    padding: 0 20px;
    border-right: 1px solid #979999;
}
.img_ctn3{
    padding-left: 20px;
}
.list_tattoing{
    font-family: 'Manrope';
    color: #fafcfc;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 4vh 0;
    border-top: 1px solid #979999;
}
.home4{
    padding:0 2.5%;
    background-color: #323333;
    height: 150vh;
    width: 100%;
}
.ls_home4{
    display: flex;
    padding: 3vh 0;
    border-top: 1px solid #979999;
    border-bottom: 1px solid #979999;
    list-style-type: none;
}
.txt_grad1{
    font-family: 'Cinzel Decorative';
    background-image: linear-gradient(to right, #CAAC7F 0%, #B67A4B 30%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 42px;
    font-weight: bold;
}
.txt_grad2{
    font-family: 'Cinzel Decorative';
    background-image: linear-gradient(to right, #CAAC7F 70%, #B67A4B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 42px;
    font-weight: bold;
}
.txt_normal{
    font-family: 'Manrope';
    font-size: 23px;
    font-weight: 400;
    color: #fafcfc;
}
.itemls_home4b2{
    text-align: end;
    border-left: 1px solid #979999;
    width: 25%;
}
.itemls_home4b1{
    text-align: end;
    border-left: 1px solid #979999;
    width: 25%;
    padding-right: 20px;
}
.itemls_home4a1{
    border-right: 1px solid #979999;
    width: 25%;
}
.itemls_home4a2{
    width: 25%;
    padding-left: 20px;
}
.info_tattoo{
    width: 50%;
    padding-right: 2vw;
}
.img_tattoo{
    width: 50%;
    padding-left: 2vw;
    border-left: 1px solid #979999;
}
.photo_home4{
    width: 100%;
    border: 1px solid #979999;
    border-radius: 2px;
}
.middle_home4{
    display: flex;
    padding-bottom: 2vw;
    border-bottom: 1px solid #979999;
}
.artist_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}
.name_artist{
    font-family: 'Manrope';
    color: #fafcfc;
    font-size: 28px;
    font-weight: 500;
}
.btn_artist{
    background-color: #323333;
    color: #fafcfc;
    border-top: 1px solid #979999;
    font-family: 'Manrope';
    width: 120px;
}
.artist_info{
    height: 60%;
    border-bottom: 1px solid #979999;
    border-top: 1px solid #979999;
}
.text_info{
    height: 33%;
    font-family: 'Manrope';
    font-size: 23px;
    font-weight: 400;
    color: #fafcfc;
    display: flex;
    align-items: center;
}
.aphostroph{
    color: #CAAC7F;
    display: flex;
}
.artist_phrase{
    height: 23%;
    font-family: 'Manrope';
    font-size: 23px;
    font-weight: 400;
    color: #fafcfc;
    display: flex;
    align-items: flex-end;
}